<!-- 

	<h1>Add Todo Item</h1>
	<label>Text</label>
	<form name="myForm">
<input ng-app="myApp" ng-controller="myCtrl" name="xInput" ng-model="xInput" required>

<form role="form">
    <div class="form-group">
      <label for="sel1">Priority of Item</label>
      <select class="form-control" id="sel1">
        <option></option>
        <option>High Priority</option>
        <option>Medium Priority</option>
        <option>Low Priority</option>
      </select>
      <br>
     
    </div>
  </form>



<div class="container">
  <h1>Priority Listing</h1>
  <div class="panel-group">
    
<div class="panel-danger">
      <div class="panel-heading">High Priority Item<ul ng-repeat="toDo in toDo">
      <li>{{xInput}}</li>

      </ul></div>
      
    </div>
    <div class="panel-info">
      <div class="panel-heading">Medium Priority Item</div>
      
    </div>

    <div class="panel-warning">
      <div class="panel-heading">Low Priority Item</div>
      
    </div>

    
  </div>
</div>
 -->
